* {
    margin: 0;
    padding: 0;
}

html, body, main {
    height: 100%;
    width: 100%;
}

main {
    height: 80%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #00aa46;
}

.header-content{
    height: 70%;
}

.footer-content {
    font-size: 20px;
    color: white;
}

.StartScan-button--wrapper {
    background: #00aa46;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.StartScan-button--label {
    color: white;
    font-size: 32px;
    font-family: Akkurat,helvetica,arial;
}

#results {
    color: white;
}

.product-image--wrapper {
    height: 75%;
    width: 100%;
    text-align: center;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
}

.product-detail {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    align-items: center;
}

.product-info {
    color: #00aa46;
    font-size: 32px;
    font-family: Akkurat,helvetica,arial; 
}

